aiohttp==1.0.5
anagram==0.0.6
async-timeout==3.0.1
beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.10.15
chardet==3.0.4
discord==0.0.2
discord.py==0.16.12
idna==2.7
inflect==1.0.1
iso8601==0.1.12
jaraco.classes==1.5
jaraco.collections==1.6.0
jaraco.functools==1.20
jaraco.itertools==3.0.0
jaraco.logging==1.5.2
jaraco.text==1.10.1
more-itertools==4.3.0
multidict==4.4.2
pytz==2018.7
requests==2.20.0
requests-cache==0.4.13
simplejson==3.16.0
six==1.11.0
tempora==1.14
urllib3==1.24.1
websockets==3.4
Whoosh==2.7.4
wikipedia==1.4.0
